Package: ps2sdk-ports-libpng
Priority: extra
Section: devel
Installed-Size: 100
Maintainer: ragnarok2040
Architecture: all 
Version: 1.0
Depends: cross-ps2-dev (>= 1.0), cross-ps2-ps2sdk (>= 1.0), ps2sdk-ports-zlib (>= 1.0)
Description: This is a port of libpng for PS2 development.
